.wrapper {
  width: 240px;
  background-color: var(--bgsubcl);
  min-width: 240px;

  header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 26px;
    img {
      width: 120px;
    }
  }

  .list-control {
    .item-control {
      display: flex;
      align-items: center;
      padding: 6px 26px;
      border-left: 3px solid transparent;
      transition: all 0.3s;

      &:hover {
        .title,
        span {
          color: white;
        }
      }
      .title {
        margin-left: 12px;
        font-size: 13px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.6);
      }
      span {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.6);
      }
    }
    .active {
      border-left: 3px solid rgb(91, 91, 249);
      background-color: rgba(255, 255, 255, 0.1);
      .title,
      span {
        color: white;
      }
    }
  }
}
