.wrapper {
  .list-option {
    margin-bottom: 16px;
    button {
      cursor: pointer;
      padding: 6px 16px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 50px;
      font-size: 12px;
      margin-right: 15px;
      font-weight: 600;
      &:hover:not(.active) {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    .active {
      background-color: var(--solidcl);
    }
  }
  .list-song {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px 20px;

    .item {
      display: flex;
      padding: 10px;
      border-radius: 6px;
      transition: all 0.3s;
      align-items: center;

      .option {
        display: flex;
        margin-left: auto;
        opacity: 0;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        .option {
          opacity: 1;
        }
      }

      .info {
        padding-left: 10px;
        h4 {
          white-space: nowrap;
          width: 130px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 8px;
        }
        h5 {
          color: rgba(255, 255, 255, 0.5);
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    .active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
