.wrapper {
  .container {
    display: grid;
    gap: 0px 20px;

    .song {
      display: flex;
      align-items: center;

      padding: 8px;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        .right {
          .option {
            display: flex;
          }
          .duration {
            display: none;
          }
        }
      }

      .info {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 4px 0px;

        h5 {
          font-size: 14px;
        }

        h6 {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.612);
          font-weight: 400;
        }
        .titlecl2 {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          max-width: 240px;
          overflow: hidden;
        }
      }
      .right {
        flex: 1;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: end;

        .option {
          display: none;
        }
        .duration {
          display: block;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
    .active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
