.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  animation: scrollShow 0.4s;
  background-image: radial-gradient(rgb(34, 34, 70), rgb(7, 7, 81));
  z-index: 1;
  flex: 1;

  .background {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(8px);
  }

  @keyframes scrollShow {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  .header {
    position: relative;
    margin-bottom: 12px;
    .optionalList {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.1);
      .optionalItem {
        border-radius: 30px;
        padding: 4px 24px;
        font-size: 16px;
        font-weight: 700;
        transition: all 0.3s linear;
      }
      .activeOptional {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  .container {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .hideBtn {
      right: 20px;
      top: 10px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.1);
      width: 40px;
      height: 40px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 30px;
      }
    }
  }
}
.hideDetailPlayer {
  animation: scrollHide 0.4s;
  @keyframes scrollHide {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
      //   opacity: 0;
    }
  }
}
